<div class="jumbotron">
  <h1>FilmsBoris</h1>
	
	<div class="row">
	   <div class="col-md-6" style="text-align: right">
				Rechercher un film
		</div>
		<div class="col-md-6" style="text-align: left">
		 <input type="text" ng-model="titre" />
		</div>
	</div>
	  <p><p class="lead">
  	<a class="btn btn-lg btn-success" ng-href="#/" ng-click="monClick()">Recherche 
  		<span class="glyphicon glyphicon-search"></span>
  	</a>
  </p>
</div>

<label><input type="number" ng-model="nbAffiche"></input> nb à afficher

<input type="checkbox" ng-model="active"></input></label>
<button class="btn btn-primary" ng-click="debut=debut+10">+10</button> {{debut}}
<!-- ng-hide > inverse ou fair ng-hide="!active"-->
<div ng-show="active">


<ul>
	<li ng-repeat="film in moviesdb.getFilms() | limitTo:nbAffiche:debut track by $index">
		<a ng-href="#/film/{{film.id}}">
			<img ng-src="{{film.poster_path | urlPoster}}"/>
			<p>{{film.title}}</p>
		</a>
	</li>
</ul>
<p>un film: {{unfilm.title}}</p>
