

<div class="row">

	<div class="movieDemoApp">

		<div class="col-md-4" style="text-align: left; margin-top 5%">
			<img ng-src="{{film.poster_path | urlPoster}}"/>
		</div>

		<div class="col-md-12" style="margin-top 5%; background-color: rgba(255, 255, 255, 0.65)">
			<h2>Résumé</h2>
			<br/>
			<p style:"text-align: justify">{{film.overview}}</p>

			<br/>
			<br/>
			<h2>Sortie</h2>
			<br/>
			<div class="col-md-12" ng-repeat="countriesfilm in film.releases.countries track by $index">
				<flag country="{{countriesfilm.iso_3166_1}}" size="32"></flag><p>{{countriesfilm.release_date}}</p>
					
			</div> 

			<br/>
			<br/>
			<h2>Similaires</h2>
			<br/>
			<slick dots="true" infinite="false" slides-to-show="3" slides-to-scroll="3" responsive="breakpoints" init-onload="true" data="film.similar.results">
				
				<div class="col-md-12" ng-repeat="similarfilm in film.similar.results track by $index">
					<a ng-href="#/film/{{similarfilm.id}}">
						<img ng-src="{{similarfilm.poster_path | urlPoster}}"/>
					</a>
				</div> 
				
			</slick>
		</div>
	</div>
</div>