

<div class="row">

	<div class="movieDemoApp">

		<div class="col-md-12" style="margin-top 5%; background-color: rgba(255, 255, 255, 0.65)">
			<div class="col-md-7">
				<h1>{{film.title}}</h1>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3" style="text-align: right">
				<img ng-src="{{film.poster_path | urlPoster}}"/>
			</div>
			
		</div>

		<div class="col-md-12"> </div>
		<div class="col-md-12"> </div>
		<div class="col-md-12"> </div>
		<div class="col-md-12"> </div>

		<div class="col-md-12" style="margin-top 20%; background-color: rgba(255, 255, 255, 0.65)">
			<h2>Résumé</h2>
			<br/>
			<p style:"text-align: justify">{{film.overview}}</p>

			<br/>
			<br/>
			<h2>Sorties</h2>
			<br/>
			<div class="col-md-12" ng-repeat="countriesfilm in pays track by $index">
				<flag country="{{countriesfilm.iso_3166_1}}" size="32"></flag><p>{{countriesfilm.release_date}}</p>
					
			</div> 
			
			<br/>
			<br/>
			<h2>Acteurs</h2>
			<br/>
			<div class="col-md-12" ng-repeat="actorsfilm in acteurs track by $index">
				<h4>{{actorsfilm.character}}</h4><p>{{actorsfilm.name}}</p>
					
			</div> 

			<br/>
			<br/>
			<h2>Films similaires</h2>
			<br/>
			<slick dots="true" infinite="false" slides-to-show="3" slides-to-scroll="3" responsive="breakpoints" init-onload="true" data="film.similar.results">
				
				<div class="col-md-12" ng-repeat="similarfilm in film.similar.results track by $index">
					<a ng-href="#/film/{{similarfilm.id}}">
						<img ng-src="{{similarfilm.poster_path | urlPoster}}"/>
					</a>
				</div> 
				
			</slick>
		</div>
	</div>
</div>