

<div class="row">

	<div class="movieDemoApp">

		<div class="col-md-12" style="background-color: rgba(255, 255, 255, 0.65); border-radius: 25px;">
			<div class="col-md-7">
				<h1>{{film.title}}</h1>
			</div>
			<div class="col-md-1"></div>
			<div class="col-md-3" style="text-align: right">
				<img ng-src="{{film.poster_path | urlPoster}}"/>
			</div>
			
		</div>


		<div class="col-md-12" style="margin-top 20%; background-color: rgba(255, 255, 255, 0.65); border-radius: 25px;">
			<h2>Résumé</h2>
			<br/>
			<p style:"text-align: justify">{{film.overview}}</p>

			<br/>
			<br/>
			<h2>Sorties</h2>
			<br/>
			<div ng-repeat="countriesfilm in pays track by $index">
				<div class="col-md-4" style="text-align: left">
					<flag country="{{countriesfilm.iso_3166_1}}" size="32"></flag><p>{{countriesfilm.release_date}}</p>
				</div>	
			</div> 
			
			<br/>
			<br/>
			<div class="col-md-12" style="text-align: left"> </div>

			<br/>
			<br/>
			<h2>Acteurs</h2>
			<div ng-repeat="actorsfilm in acteurs track by $index">
				<div class="col-md-5" style="text-align: left">
					<h4>{{actorsfilm.character}}</h4>
					<p>{{actorsfilm.name}}</p>
				</div>

			</div> 

			<div class="col-md-12"> 
				<br/>
				<br/>
				<h2>Réalisateur</h2>
				<p>{{realisateur.name}}</p>
			</div>



			<div class="col-md-12">
			<br/>
			<br/>
			<h2>Films similaires</h2>
			<br/>
			<slick dots="true" infinite="false" slides-to-show="3" slides-to-scroll="3" responsive="breakpoints" init-onload="true" data="film.similar.results">
				
				<div class="col-md-12" ng-repeat="similarfilm in film.similar.results track by $index">
					<a ng-href="#/film/{{similarfilm.id}}">
						<img ng-src="{{similarfilm.poster_path | urlPoster}}"/>
					</a>
				</div> 
				
			</slick>
		    </div>
		</div>
	</div>
</div>